<div class="whiteDiv">
<div class="innerlogo"><img src="images/saudiDeal-logo.jpg" /></div>
	<h2 class="heading">Gift Offer</h2>
	<div class="bs-example table-responsive" data-example-id="bordered-table">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<!-- <th>Message</th> -->
					<th>Coin</th>
					<th>Start Date Gift</th>
					<th>End Date Gift</th>
					<!-- <th>Image </th> -->
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key,giftOfferList) in giftOfferLists">
					<th scope="row">{{$index+1}}</th>
					<td>{{giftOfferList.name}}</td>
					<!-- <td>{{giftOfferList.message}}</td> -->
					<td>{{giftOfferList.coin}}</td>
					<td>{{giftOfferList.startDate | date}}</td>
					<td>{{giftOfferList.endDate | date}}</td>
					<!-- <td><image ng-src="{{giftOfferList.imageUrl}}" style="width:100px;" /></td> -->
					<td>
						<button type="button" class="btn btn-primary" ng-click="editGiftOffer(key);" ng-disabled="isButtonBusy">Edit</button>
						<button type="button" class="btn btn-primary" ng-click="applyToAllUser();" ng-disabled="isButtonBusy || !giftOfferList.isDateValied">Apply</button>
						<button type="button" class="btn btn-primary" ng-click="cancelToAllUser();" ng-disabled="isButtonBusy">Cancel</button>
						<img ng-if="isButtonBusy" src="images/loader.gif">
					</td>
				</tr>
				<tr ng-if="!giftOfferLists">
					<td colspan="10" align="center"><img src="images/loader.gif"></td>
				</tr>
				<tr ng-if="giftOfferLists.length <=0">
					<td colspan="10" align="center">No user found</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
